<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_cctp1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HillActivity" android:label="@string/Hill"/>
        <activity android:name=".DES" android:label="@string/DES"/>
        <activity android:name=".PlayfairActivity" android:label="@string/Playfair"/>
        <activity android:name=".HomophoneActivity" android:label="@string/Polybe"/>
        <activity android:name=".VigenereActivity" android:label="Vigenere"/>
        <activity android:name=".CesarActivity" android:label="@string/Cesar"/>
        <activity android:name=".AtbashActivity" android:label="@string/Atbash"/>
        <activity android:name=".MainActivity" android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>